{% extends "layout.html" %}
{% block content %}

    <!-- Portfolio Item Heading -->
    <div class="dashboard">
        <h1 class="my-4">
            Hi, {{ current_user.org_name }}!

        </h1>
        <div class="row">
            <div class="col-lg-9">
                <p>
                    You can transact with the organizations listed below for exchange of industrial by-products.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item orange-list">Materials Required</li>
                    {% for waste_item in context.waste_req_list %}
                        <li class="list-group-item">{{ waste_item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <p style="font-size: 100px;">&rarr;</p>
            </div>

            <div class="col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item orange-list">Suppliers</li>

                    {% if context.matching_orgs.required|length > 0 %}
                        {% for waste_item in context.matching_orgs.required %}
                            <li class="list-group-item waste_org_item">
                                <span>{{ waste_item.org_name }}</span>
                                <span style="float: right">(+)</span>
                                <div class="org_details" style="display: none">
                                    <hr>
                                    <p><strong>Name: </strong>{{ waste_item.org_name }}</p>
                                    <p><strong>Address: </strong>{{ waste_item.address }}</p>
                                    <p><strong>Email: </strong>{{ waste_item.email }}</p>
                                    <p><strong>Contact Person: </strong>{{ waste_item.contact_person }}</p>
                                    <p><strong>Phone: </strong>{{ waste_item.contact_no1 }} {{ waste_item.contact_no2 }}
                                    </p>
                                </div>

                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            No match
                        </li>
                    {% endif %}


                </ul>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item orange-list">Materials Produced</li>
                    {% for waste_item in context.waste_gen_list %}
                        <li class="list-group-item">{{ waste_item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <p style="font-size: 100px;">&rarr;</p>
            </div>


            <div class="col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item orange-list">Prospective buyers</li>
                    {% if context.matching_orgs.generated|length > 0 %}
                        {% for waste_item in context.matching_orgs.generated %}
                            <li class="list-group-item waste_org_item">
                                <span>{{ waste_item.org_name }}</span>
                                <span style="float: right">(+)</span>
                                <div class="org_details" style="display: none">
                                    <hr>
                                    <p><strong>Name: </strong>{{ waste_item.org_name }}</p>
                                    <p><strong>Address: </strong>{{ waste_item.address }}</p>
                                    <p><strong>Email: </strong>{{ waste_item.email }}</p>
                                    <p><strong>Contact Person: </strong>{{ waste_item.contact_person }}</p>
                                    <p><strong>Phone: </strong>{{ waste_item.contact_no1 }} {{ waste_item.contact_no2 }}
                                    </p>
                                </div>

                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            No match
                        </li>
                    {% endif %}

                </ul>
            </div>
            <div class="col-lg-1"></div>


        </div>

    </div>


    <!-- /.row -->
{% endblock %}

{% block script %}

    <script type="text/javascript">
        $("document").ready(function () {

            $(".waste_org_item").on("click", function () {
                //$(".org_details").hide();
                $(this).find(".org_details").toggle();
            })

        });

    </script>
{% endblock %}