{% extends "layout.html" %}
{% block content %}

<!-- Portfolio Item Heading -->
<div class="dashboard">
    <br>
    <div class="form-wrap border login-form rounded">
        <h4>Update Waste</h4>
        <br>
        <br>
        <form role="form" action="{{ url_for('.edit_waste') }}" method="post" id="waste-form" autocomplete="off">
            {{ form.csrf_token }}

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="email">Waste Generated</label>
                        {{ form.waste_generated(class_="form-control", id="wasteGeneratedMultiSelect") }}
                        {{ form.waste_generated_list(class_="form-control", id="wasteGeneratedList") }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="name">Waste Required</label>
                        {{ form.waste_required(class_="form-control", id="wasteRequiredMultiSelect") }}
                        {{ form.waste_required_list(class_="form-control", id="wasteRequiredList") }}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block btn-orange" value="Update">
                </div>
                <div class="col-lg-8"></div>
            </div>
        </form>

    </div>
</div>


<div id="quantityModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelHead">Modal Header</h4>
                <button type="button" class="close closeModal" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <input type="hidden" name="inputSource" id="inputSource">
                    <input type="hidden" name="inputValue" id="inputValue">
                    <div class="col-lg-6">
                        <label>Quantity</label>
                        <input class="form-control waste_quantity" type="number" value="" min="0" id="quantity">
                    </div>
                    <div class="col-lg-6">
                        <label>Unit</label>
                        <select class="form-control waste_unit" id="unit">
                            <option value="kg">kg</option>
                            <option value="tonne">tonne</option>
                            <option value="litres">litres</option>
                            <option value="number">number</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addButtonModal" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>


<!-- /.row -->
{% endblock %}


{% block script %}
<script src="/static/js/waste_mulitselect.js"></script>

<script type="text/javascript">
    $("document").ready(function () {

        $("#login-form").validate({
            ignore: [],
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                wasteGeneratedList: "required",
                wasteRequiredList: "required"
            },
            // Specify validation error messages
            messages: {
                wasteGeneratedList: "Please choose the waste generated by the orgranization",
                wasteRequiredList: "Please choose the waste required by the orgranization",
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                form.submit();
            }
        });

    });

</script>
{% endblock %}