{% extends "layout.html" %}
{% block content %}

<!-- Portfolio Item Heading -->
<div class="dashboard">
    <br>
    <div class="form-wrap border login-form rounded">
        <h4>Update Profile</h4>
        <br>
        <form role="form" action="{{ url_for('.edit_profile') }}" method="post" id="profile-form" autocomplete="off">
            {{ form.csrf_token }}

            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email(class_="form-control", placeholder="somebody@example.com") }}
            </div>

             <div class="form-group">
                <label for="name">Organization Name <span class="error">*</span></label>
                {{ form.name(class_="form-control") }}
            </div>
            <div class="form-group">
                <label for="industry">Industry <span class="error">*</span></label>
                {{ form.industry(class_="form-control") }}
            </div>
            <div class="form-group">
                <label for="contactNumber1">Contact Number <span class="error">*</span></label>
                {{ form.contact1(class_="form-control", placeholder="") }}
            </div>
            <div class="form-group">
                <label for="contactNumber2">Alternate Contact Number</label>
                {{ form.contact2(class_="form-control", placeholder="") }}
            </div>
            <div class="form-group">
                <label for="address">Address <span class="error">*</span></label>
                {{ form.address(class_="form-control", placeholder="Address") }}
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="state">State <span class="error">*</span></label>
                        {{ form.state(class_="form-control", placeholder="State") }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="district">District</label>
                        {{ form.district(class_="form-control", placeholder="District") }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="district">Place</label>
                        {{ form.place(class_="form-control", placeholder="Place") }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="contactPerson">Contact Person <span class="error">*</span></label>
                {{ form.contact_person(class_="form-control") }}
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block btn-orange" value="Update">
                </div>
                <div class="col-lg-8"></div>
            </div>
        </form>

    </div>
</div>


<!-- /.row -->
{% endblock %}


{% block script %}

<script type="text/javascript">
    $("document").ready(function () {

        $("#profile-form").validate({
            ignore: [],
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                email: {
                    required: true,
                    // Specify that email should be validated
                    // by the built-in "email" rule
                    email: true
                },
                name: "required",
                industry: "required",
                contact1: "required",
                address: "required",
                state: "required",
                contact_person: "required"
            },
            // Specify validation error messages
            messages: {
                name: "Please enter the name of organization",
                industry: "Please choose the type of Industry",
                contact1: "Please enter atleast 1 contact phone number",
                address: "Please enter the address",
                state: "Please select the state",
                email: "Please enter a valid email address"
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                form.submit();
            }
        });

    });

</script>
{% endblock %}