{% extends "layout.html" %}
{% block content %}
<br>
<div class="signup-form">
    <div class="form-wrap border login-form rounded">
        <h4>Register your Organization</h4>
        <form role="form" action="{{ url_for('.signup') }}" method="post" id="login-form" autocomplete="off">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="name">Organization Name</label>
                {{ form.name(class_="form-control") }}
            </div>
            <div class="form-group">
                <label for="industry">Industry</label>
                {{ form.industry(class_="form-control") }}
            </div>
            <div class="form-group">
                <label for="contactNumber1">Contact Number</label>
                {{ form.contact1(class_="form-control", placeholder="") }}
            </div>
            <div class="form-group">
                <label for="contactNumber2">Alternate Contact Number</label>
                {{ form.contact2(class_="form-control", placeholder="") }}
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                {{ form.address(class_="form-control", placeholder="Address") }}
            </div>
            <div class="form-group">
                <label for="contactPerson">Contact Person</label>
                {{ form.contact_person(class_="form-control") }}
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="wasteGenerated">Materials Generated</label>
                        {{ form.waste_generated(class_="form-control", id="wasteGeneratedMultiSelect") }}
                        {{ form.waste_generated_list(class_="form-control", id="wasteGeneratedList") }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="wasteRequired">Materials Required</label>
                        {{ form.waste_required(class_="form-control", id="wasteRequiredMultiSelect") }}
                        {{ form.waste_required_list(class_="form-control", id="wasteRequiredList") }}
                    </div>

                </div>
            </div>


            <div class="form-group">
                <label for="email">Email</label>
                <small> (This will be your username)</small>
                {{ form.email(class_="form-control", placeholder="somebody@example.com") }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <small> (Password should have atleast 6 characters)</small>
                {{ form.password(class_="form-control") }}
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block btn-orange" value="Register">
                </div>
                <div class="col-lg-8"></div>
            </div>

        </form>

    </div>
</div>


<div id="quantityModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelHead">Modal Header</h4>
                <button type="button" class="close closeModal" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <input type="hidden" name="inputSource" id="inputSource">
                    <input type="hidden" name="inputValue" id="inputValue">
                    <div class="col-lg-6">
                        <label>Quantity</label>
                        <input class="form-control waste_quantity" type="number" value="" min="0" id="quantity">
                    </div>
                    <div class="col-lg-6">
                        <label>Unit</label>
                        <select class="form-control waste_unit" id="unit">
                            <option value="kg">kg</option>
                            <option value="tonne">tonne</option>
                            <option value="litres">litres</option>
                            <option value="number">number</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addButtonModal" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>


<br>
<br>
{% endblock %}
{% block script %}
<script src="/static/js/waste_mulitselect.js"></script>

<script type="text/javascript">
    $("document").ready(function () {

        $("#login-form").validate({
            ignore: [],
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                name: "required",
                industry: "required",
                contact1: "required",
                address: "required",
                contact_person: "required",
                wasteGeneratedList: "required",
                wasteRequiredList: "required",
                email: {
                    required: true,
                    // Specify that email should be validated
                    // by the built-in "email" rule
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6
                }
            },
            // Specify validation error messages
            messages: {
                name: "Please enter the name of organization",
                industry: "Please choose the type of Industry",
                contact1: "Please enter atleast 1 contact phone number",
                address: "Please enter the address",
                wasteGeneratedList: "Please choose the waste generated by the orgranization",
                wasteRequiredList: "Please choose the waste required by the orgranization",
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 6 characters long"
                },
                email: "Please enter a valid email address"
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                form.submit();
            }
        });

    });

</script>
{% endblock %}
